{#
/**
 * @file
 * Default theme implementation for node randomizer block.
 */
#}
<div class="node-randomizer-block">
  {% if data.use_icon == 1 %}
    <a href="{{ path('node_randomizer.randomizer') }}" title="{{ data.description }}" class="randomizer-icon">{{ data.icon_code|raw }}</a>
  {% else %}
    <a href="{{ path('node_randomizer.randomizer') }}" title="{{ data.description }}" class="randomizer-text">{{ data.text|t }}</a>
  {% endif %}
</div>
